# 1.Manipulate using a string
i) To add new elements to the end of the list

In [8]:
list=[1 , 2, 3]
list.append(4)
print(list)

[1, 2, 3, 4]

In [10]:
# ii) To reverse elements in the list
list=[1,2,3]
list.reverse()
print(list)

[3, 2, 1]

In [13]:
#to display the same list of multiple times
list=[1,2,3]
lst=list * 5
print(lst)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [15]:
#to concatenate two lists
lst1=[1,2,3]
lst2=[20,42,39]
list=lst1+lst2
print(list)

[1, 2, 3, 20, 42, 39]

In [16]:
#to sort the elements in the list in ascending order
list.sort()
print(list)

[1, 2, 3, 20, 39, 42]

# 2. Write a python program to do in tuples.
#To add new elements to the end of the tuples

In [31]:
a=(2,6,10)
add_elements = a + (4,)
print(add_elements)

(2, 6, 10, 4)

In [32]:
#to reverse elements in tuple
a=(1,2,3,4)
b=a[::-1]
print(b)

(4, 3, 2, 1)

In [33]:
#to display the elements of the same tuple multiple times
a=(1,2,3,4)
mul_tuple = a*4
print(mul_tuple)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [35]:
#to concatenate two tuples
t1=(10,20)
t2=(60,89)
newt= t1+t2
print(newt)

(10, 20, 60, 89)

In [11]:
#to sort the elements in the list in ascending order
t1 = (10, 50, 89, 87, 54)
sorted_t1 = tuple(sorted(t1))
print(sorted_t1)

(10, 50, 54, 87, 89)

# 3.Write a python program to implement the following using list.
#Create a list with integers

In [41]:
list=[11,12,13,14,15,16,17,18,19,20]

In [43]:
#display the last number in the list
last=list[-1]
print(last)

20

In [44]:
#command for displaying the values from the list[0:4]
list=[11,12,13,14,15,16,17,18,19,20]
lst=list[0:4]
print(lst)

[11, 12, 13, 14]

In [48]:
#command for displaying the values from the list[2:]
lst=list[2:]
print(lst)

[13, 14, 15, 16, 17, 18, 19, 20]

In [47]:
#command for displaying the values from the list[:6]
lst=list[:6]
print(lst)

[11, 12, 13, 14, 15, 16]

# 4.write a python program :tuple1=(10,50,20,40,30)
#to display the elements 10 and 50 from tuple1

In [53]:
tuple1=(10,50,20,40,30)
t1=tuple1[0]
t2=tuple1[1]
print(t1,t2)

10 50

In [54]:
#to display the length of a tuple1
len_tuple= len(tuple1)
print(len_tuple)

5

In [55]:
#to find minimum element from tuple1
minimum = min(tuple1)
print(minimum)

10

In [56]:
#to add all elements in tuple1
sum=0
for element in tuple1:
    sum=sum+element
    print(sum)

10
60
80
120
150

In [57]:
#to display tuple1 multiple times
mult_tuple1=tuple1*3
print(mult_tuple1)

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5 Write a python program to 
#Calculate length of a string

In [58]:
str="Hello world"
print(len(str))

11

In [59]:
#To reverse words in a string
print(str[::-1])

dlrow olleH

In [60]:
#to display same string multiple times
print(str*3)

Hello worldHello worldHello world

In [63]:
# to concatenate two strings
str1= "good "
str2= "evening"
str= str1+str2
print(str)

good evening

In [4]:
#str1= "South India", use slicing to display "india"
str="South India"
print(str[6:11])

India

# 6.Perform the following
#Creating dictionary

In [5]:
a={'Physics':89, 'Maths':95, 'Chemistry':82}

In [6]:
#accessing values and keys in dictionary:
for key in a:
    print(key)

Physics
Maths
Chemistry

In [8]:
for value in a:
    print(value)

Physics
Maths
Chemistry

In [12]:
a={'Physics':89, 'Maths':95, 'Chemistry':82}
print(a.get(1))

None

In [13]:
#uploading a dictionary
def upload_dictionary():
    a = {'Physics': 89, 'Maths': 95, 'Chemistry': 82}
    return a
my_dict = upload_dictionary()
print(my_dict)

{'Physics': 89, 'Maths': 95, 'Chemistry': 82}

In [14]:
#clear and delete the dictionary values:
a.clear()
print(a)

{}

In [17]:
a = {'Physics': 89, 'Maths': 95, 'Chemistry': 82}
del a
print(a)

NameError: name 'a' is not defined

# 7.inserting a number to anyposition in a list:

In [24]:
lst = [1, 2, 3, 4, 5]
number = int(input("Enter the number to insert: "))

position = int(input("Enter the position (0 to {}): ".format(len(lst))))
if position < 0 or position > len(lst):
    print("Invalid position. Position should be between 0 and {}.".format(len(lst)))
else:
    
    lst.insert(position, number)

    print("Updated list:", lst)

Enter the number to insert: 9
Enter the position (0 to 5): 5
Updated list: [1, 2, 3, 4, 5, 9]

# 8. delete an element from the list using index.

In [23]:
index= 2
del lst[index]
print(lst)

[1, 2, 5, 9]

# 9.display a number from 1 to 100

In [25]:
number = int(input("Enter a number between 1 and 100: "))

if 1 <= number <= 100:
    print("The no. you entered:", number)
else:
    print("Invalid number")

Enter a number between 1 and 100: 98
The no. you entered: 98

# 10.sum of all items in a tuple:

In [27]:
my_tuple = (1, 2, 3, 4, 5)
sum = 0
for item in my_tuple:
    sum = sum + item
print("Sum of all items in a tuple:", sum)

Sum of all items in a tuple: 15

# 11. create dictionary containing three lambda functions square, cube and square root. 
i) Eg: dict={'square': function for squaring,'Cube': function for cube, 'square root': function for square root}. 
ii) pass the values (input from the user) to the functions in the dictionary respectively.
iii) then add the outputs of each function and print it.

In [12]:
square = lambda x: x ** 2
cube = lambda x: x ** 3
square_root = lambda x: x ** 0.5

# Create a dictionary
function_dict = {
    'square': square,
    'cube': cube,
    'square root': square_root
}

x = float(input("Enter a number: "))
output_sum = 0
for operation, func in function_dict.items():
    result = func(x)
    print(f"{operation} of {x} is {result}")
    output_sum += result

print(f"Sum of the function outputs: {output_sum}")

Enter a number: 81
square of 81.0 is 6561.0
cube of 81.0 is 531441.0
square root of 81.0 is 9.0
Sum of the function outputs: 538011.0

# 12. A list of words is given . find the words from the list that have their second character in uppercase. ls=['hello',  'Dear', 'hOw',  'ARe', 'You']

In [1]:
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']
result_words = []

for word in ls:
       if len(word) >= 2 and word[1].isupper():
        result_words.append(word)

print("Words with the second character in uppercase:")
for word in result_words:
    print(word)

Words with the second character in uppercase:
hOw
ARe

# 13. A dictionary of names and their weights on earth are given. Find how much they will weigh on the moon.(Use map and lambda functions) Formula: wMoon = (wEarth * GMoon)/ GEarth . i)

#weight of people in kg. 

WeightOnEarth ={'John':45,  'Shelly':65, 'Marry':35}
GEarth = 9.81
GMoon = 1.622

In [2]:

WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}

GEarth = 9.81  
GMoon = 1.622  

def weight_on_moon(weight_on_earth):
    return (weight_on_earth * GMoon) / GEarth

weights_on_moon = list(map(lambda x: weight_on_moon(x), WeightOnEarth.values()))

WeightOnMoon = dict(zip(WeightOnEarth.keys(), weights_on_moon))

print("Weights on the Moon:")
for name, weight in WeightOnMoon.items():
    print(f"{name}: {weight} kg")

Weights on the Moon:
John: 7.440366972477065 kg
Shelly: 10.747196738022426 kg
Marry: 5.786952089704383 kg

# control structures:
    # 1.find the first N prime numbers:

In [28]:
start_val= int(input("enter the starting value: "))
end_val= int(input("enter the ending value: "))
print ("The Prime Numbers are: ")  
for number in range (start_val, end_val + 1):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            print (number)

enter the starting value: 1
enter the ending value: 10
The Prime Numbers are:
2
3
5
7

# 2. calculate the salary of an employee.

In [3]:
# Prompt the user to enter salary components
basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))

# Calculate the gross salary
gross_salary = basic_salary + hra + ta + da

# Calculate the tax (10% of gross salary)
tax = 0.10 * gross_salary

# Calculate the net salary (gross salary - tax)
net_salary = gross_salary - tax

# Display the results
print("\nSalary Details:")
print(f"Basic Salary: {basic_salary}")
print(f"HRA: {hra}")
print(f"TA: {ta}")
print(f"DA: {da}")
print(f"Gross Salary: {gross_salary}")
print(f"Tax (10%): {tax}")
print(f"Net Salary: {net_salary}")

Enter Basic Salary: 10000
Enter HRA: 3000
Enter TA: 2000
Enter DA: 1000

Salary Details:
Basic Salary: 10000.0
HRA: 3000.0
TA: 2000.0
DA: 1000.0
Gross Salary: 16000.0
Tax (10%): 1600.0
Net Salary: 14400.0

# 3. to search for a string in the given list.

In [31]:
my_list = ["pink", "blue", "red", "purple", "white"]

search_string = input("Enter a string to search for: ")

found = False

for item in my_list:
    if item == search_string:
        found = True
        break

if found:
    print(f"'{search_string}' was found in the list.")
else:
    print(f"'{search_string}' was not found.")

Enter a string to search for: pink
'pink' was found in the list.

# 4.python function that accepts a string and calculates the number of uppercase and lower case letters.

In [32]:
def count_upper_lower(string):
    upper_count = 0
    lower_count = 0

    for char in string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1

    return upper_count, lower_count

input_string = input("Enter a string: ")

uppercase_count, lowercase_count = count_upper_lower(input_string)

print("Uppercase letters:", uppercase_count)
print("Lowercase letters:", lowercase_count)

Enter a string: BlueBerry
Uppercase letters: 2
Lowercase letters: 7

# 5. display the sum of odd numbers and even numbers that fall between 12 and 37

In [33]:
sum_odd = 0
sum_even = 0
for num in range(12, 38):
    if num % 2 == 0:
        sum_even += num
    else:
        sum_odd += num

print("Sum of even numbers between 12 and 37:", sum_even)
print("Sum of odd numbers between 12 and 37:", sum_odd)

Sum of even numbers between 12 and 37: 312
Sum of odd numbers between 12 and 37: 325

# 6. printing multiplication table

In [34]:
number = int(input ("Enter the number : "))             
print ("The Multiplication Table of: ", number)    
for count in range(1, 11):      
   print (number, 'x', count, '=', number * count)

Enter the number : 2
The Multiplication Table of:  2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

# 7.print the sum of first 10 prime numbers

In [39]:
last_number = int(input("\n enter the last number :"))
print ("the sum of prime numbers upto", last_number)
sum = 0

for number in range(2, last_number + 1):
    i = 2
    for i in range(2, number):
        if (int(number % i) == 0):
            i = number
            break;

    if i is not number:
        sum = sum + number
print("\nThe sum of prime numbers from 1 to ", last_number, " is :", sum)

 enter the last number :10
the sum of prime numbers upto 10

TypeError: 'int' object is not callable

# 8. implement arithmetic operations using nested if

In [40]:
n1 = float(input("Enter the first number: "))
n2 = float(input("Enter the second number: "))
operation = input("Enter the arithmetic operation (+, -, *, /): ")

if operation == "+":
    result = n1 + n2
elif operation == "-":
    result = n1 - n2
elif operation == "*":
    result = n1 * n2
elif operation == "/":
    if num2 != 0: 
        result = n1 / n2
    else:
        result = "Division by zero is not possible."
else:
    result = "Invalid operation."

print(f"Result: {result}")

Enter the first number: 8
Enter the second number: 1
Enter the arithmetic operation (+, -, *, /): +
Result: 9.0

# 9.converting temperature from celcius to farenheit:

In [41]:
celsius = int(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius} degrees is equal to {fahrenheit} degrees Fahrenheit.")

Enter temperature in Celsius: 45
45 degrees is equal to 113.0 degrees Fahrenheit.

# 10. maximum and minimum number in a list without using an inbuilt function.

In [46]:
def max_min(data):
  l = data[0]
  s = data[0]
  for num in data:
    if num> l:
      l = num
    elif num< s:
        s = num
  return l, s
print(max_min([0, 10, 15, 40, -5, 42, 17, 28, 75]))

(75, -5)

# 11. printing the number of seconds in 30 day month 30 days, 24 hours in a day,60 minutes per day, 60seconds in a minute

In [47]:
days = 30
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60

total_seconds = days * hours_in_day * minutes_in_hour * seconds_in_minute

print(f"There are {total_seconds} seconds in a {days}-day month.")

There are 2592000 seconds in a 30-day month.

# 12. printing the number of seconds in a year

In [49]:
total_days = 365
hours_in_day = 24
minutes_in_hour = 60
seconds_in_minute = 60

total_seconds = total_days * hours_in_day * minutes_in_hour * seconds_in_minute

print(f"There are {total_seconds} seconds in a year.")

There are 31536000 seconds in a year.

# 13.A high speed can travel at an average speed of 150mph, how long will it take a train travelling at this speed to travel from london to glasgow which is 414 miles away?

In [4]:
dist = 414  
avg_speed = 150
time_hours = dist / avg_speed
print(f"It will take {time_hours} hours to travel from London to Glasgow at an average speed of {avg_speed} mph.")

It will take 2.76 hours to travel from London to Glasgow at an average speed of 150 mph.

# 14.write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. The program should then print out the total hours that you spend in school from year 7 to year 11, if each day you spend 6 hours in school days_in_each_school_year= 192

In [5]:
days_in_each_school_year = 192

school_years = 5  
hours_in_school_day = 6
total_hours_in_school = days_in_each_school_year * school_years * hours_in_school_day
print(f"Total hours spent in school from year 7 to year 11: {total_hours_in_school} hours")

Total hours spent in school from year 7 to year 11: 5760 hours

# 15. if the age of ram, sam and khan are input through the keyboard , write a python program to determine the eldest and youngest of the three

In [50]:
ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))

if ram_age >= sam_age and ram_age >= khan_age:
    eldest = "Ram"
    if sam_age <= khan_age:
        youngest = "Sam"
    else:
        youngest = "Khan"
elif sam_age >= ram_age and sam_age >= khan_age:
    eldest = "Sam"
    if ram_age <= khan_age:
        youngest = "Ram"
    else:
        youngest = "Khan"
else:
    eldest = "Khan"
    if ram_age <= sam_age:
        youngest = "Ram"
    else:
        youngest = "Sam"


print(f"The eldest is {eldest} ({eldest}'s age: {max(ram_age, sam_age, khan_age)})")
print(f"The youngest is {youngest} ({youngest}'s age: {min(ram_age, sam_age, khan_age)})")

Enter Ram's age: 20
Enter Sam's age: 22
Enter Khan's age: 24
The eldest is Khan (Khan's age: 24)
The youngest is Ram (Ram's age: 20)

# 16 write a python program to rotate a list by right n times with and without slicing technique

In [51]:
def rotate_list_with_slicing(lst, n):
    n = n % len(lst)  
    rotated_list = lst[-n:] + lst[:-n]
    return rotated_list


original_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = rotate_list_with_slicing(original_list, n)
print("Rotated list with slicing:", rotated_list)

Rotated list with slicing: [4, 5, 1, 2, 3]

In [ ]:
def rotate_list_without_slicing(lst, n):
    n = n % len(lst) 
    rotated_list = []
    for i in range(len(lst)):
        rotated_index = (i + n) % len(lst)
        rotated_list.append(lst[rotated_index])
    return rotated_list

org_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = rotate_list_without_slicing(org_list, n)
print("Rotated list without slicing:", rotated_list)

# 17.write python programs to print the following patterns:

In [6]:
def pas_triangle(n):
    for line in range(1, n + 1):
        val = 1
        for i in range(1, line + 1):
            print(val, end=" ")
            val = val * (line - i) // i
        print()
n = 7
pas_triangle(n)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [7]:
n = 5 
for i in range(1, n + 1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [9]:
word = "Python"

for i in range(1, len(word) + 1):
    print(word[:i])

P
Py
Pyt
Pyth
Pytho
Python

In [10]:
n = 5  
for i in range(1, n + 1):
    for j in range(n - i):
        print(" ", end="")
    for k in range(i):
        print("*", end=" ")

    print()

    *
   * *
  * * *
 * * * *
* * * * *